BASE_URL=sample_url

SF_ADMIN_EMAIL=testuser1@example.in
SF_ADMIN_PASSWORD=password1

SF_TRANSLATOR_EMAIL=testuser2@example.in
SF_TRANSLATOR_PASSWORD=password2

SF_REVIEWER_EMAIL=testuser3@example.in
SF_REVIEWER_PASSWORD=password3

SF_CC_CHECKER_EMAIL=testuser4@example.in
SF_CC_CHECKER_PASSWORD=password4

 